name: ci-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.24.3
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
<<<<<<< HEAD
      run: make test
=======
      run: make test
>>>>>>> d2a1547c9befe541c49102dc8f77ab1ecdc9dd3d
